*{
    margin:0;
    padding: 0;
}
html, body {
    height:100%;
}
@media screen and (min-width:1200px)
{
    .backgroundJP {
        height:100%;
        background: url("japan.jpg");
        background-repeat: no-repeat;   
        background-position: center;
        background-size:cover;
    }
    .nav {
    padding: 3em 4em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    li {
        display:inline-block;
        margin: 0 .6em;
    }
    }
    nav {
        color:white;
        font-size:16px;
        font-family: 'Montserrat';
        text-align: end;
    }
    .titletag {
        padding: 0em 4em;
        text-align: center;
        margin: 30vh auto;        
        position: relative;
        .herotitle {

            text-align: center;
            text-shadow: 10px 0px 30px #000000;
            color:white;   
            font-family:"Gilroy ☞";
            font-size:70px;
        }
    }
    .ctatitle{
        margin-bottom:5em;
        border:none;
        color:#fff;
        background-color: #CC0000;
        font-family: "Montserrat";
        font-size: 16px;
        padding:10px 25px;
        border-radius: 3em;
    }
    .itembot {    
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .fujiTemple {
        text-align: left;
        opacity:0.8;
        color:white;
        letter-spacing: -2px;
        font-size: 45px;
        font-family: "Montserrat";
    }
    .snsIcon{
        display:flex;
        justify-content: flex-end;
    }
    .socialSVG {
        margin: 0 12px;
        opacity:0.8;
    }
}